<h1>Flex Version Manager API</h1>

<h2>About</h2>

<p>The Flex Version Manager API was built to support (and use) the <a href="https://github.com/SFCRD/fvm" title="Flex Version Manager GitHub Repository">FVM</a> project. This
site provides a public endpoint to retrieve build information about the <a href="http://opensource.adobe.com/wiki/display/flexsdk/Flex+SDK" title="Adobe Open Source Flex SDK">Adobe Open Source Flex SDK</a>.</p>

<p>Currently the API provides only information about builds currently available for download
from the SDK homepage. This means that you can find accurate information about Flex SDK versions
<strong>3</strong>, <strong>4</strong>, and <strong>Hero</strong>.</p>

<p>Information about each build includes:</p>

<ul>
<li><p>The build's version number</p></li>
<li><p>The SDK version it belongs to</p></li>
<li><p>The build date</p></li>
<li><p>The build description (Nightly, Stable, Preview, etc.)</p></li>
<li><p>The URL to the build's download page</p></li>
<li><p>The build's milestone notes, if any</p></li>
</ul>


<h2>Usage</h2>

<p>The full collection of builds can be retrieved at the endpoint:</p>

<p><code>GET /builds.(json|xml)</code> <a href="http://fvm.heroku.com/builds.json">Try it!</a></p>

<p>This collection can currently be filtered by SDK name or by specific version number
through query string params, like:</p>

<p><code>GET /builds.json?sdk=(3|4|Hero)</code> <a href="http://fvm.heroku.com/builds.json?sdk=4">Try it!</a></p>

<p><code>GET /builds.json?version=4.5.0.17689</code> <a href="http://fvm.heroku.com/builds.json?version=4.5.0.17689">Try it!</a></p>

<h2>Caveats</h2>

<p>Right now, the site will serve up build information collected on 2011-02-18. This is because
Adobe doesn't seem to be producing nightly builds of the Flex 4 SDK anymore, and the Flex Hero
builds they are producing are only listed under <em>Adobe Flex SDK</em>, not <em>Open Source Flex SDK</em>.
If they start releasing versions of the SDK as open-source, and I don't update the API, please
send me a note and I can update the site.</p>
